.LandingPage {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
}

h1 {
    color: white;
    font-size: 5vw;
    text-shadow: 0 0 0.15em #cc1d4f;
    filter: blur(0.007em);
    transition: text-shadow .3s;
    animation: title-neon 3s linear infinite;
  }
  
  @keyframes title-neon {
   0% { text-shadow: 0 0 0.15em #cc1d4f; }
   50% { text-shadow: 0 0 0.15em #cc1d4f, 0 0 0.30em #cc1d4f, 0 0 0.60em #cc1d4f; }
   100% { text-shadow: 0 0 0.15em #cc1d4f; } 
  }

  .Sign-Buttons {
    display: flex;
    justify-content: space-around;
  }

  .Sign-Buttons .button-SignIn, .button-SignUp {
    background: none;
    color: white;
    font-size: 3vw;
    transition: .5s;
  }

  .Sign-Buttons .button-SignIn:hover, .button-SignUp:hover {
    transition: text-shadow .3s;
    text-shadow: 0 0 0.30em #cc1d4f;
    cursor: pointer;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;

  }

  form input {
    width: 50%;
    margin: 1%;
  }