.modal-SignUp {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.box-SignUp {
    width: 30vw;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 1);
    color: white;
    padding: 1%;
}

.title-close {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.box-close {
    background: none;
    color: red;
    font-weight: bold;
    font-size: 3vh;
    cursor: pointer;
}