.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgba(30, 30, 30, 1);
  min-height: 100vh;
}

h1 {
  color: white;
  font-size: 5vw;
  text-shadow: 0 0 0.15em #cc1d4f;
  filter: blur(0.007em);
  transition: text-shadow .3s;
  animation: title-neon 3s linear infinite;
}

@keyframes title-neon {
 0% { text-shadow: 0 0 0.15em #cc1d4f; }
 50% { text-shadow: 0 0 0.15em #cc1d4f, 0 0 0.30em #cc1d4f, 0 0 0.60em #cc1d4f; }
 100% { text-shadow: 0 0 0.15em #cc1d4f; } 
}

@keyframes admin-neon {
  0% { text-shadow: 0 0 0.15em #1d69cc; }
  50% { text-shadow: 0 0 0.15em #1d69cc, 0 0 0.30em #1d69cc, 0 0 0.60em #1d69cc; }
  100% { text-shadow: 0 0 0.15em #1d69cc; } 
 }


.Dashboard {
  display: flex;
}

.Title {
  font-size: 8vh;
  margin: 1vh;
  margin-right: 1.5vw;
  text-align: right;
  color: white;
  filter: blur(0.007em);
  transition: text-shadow .3s;
}

.Acts .Title, .Wilders .Title {
  text-shadow: 0 0 0.15em #cc1d4f;
  animation: title-neon 3s linear infinite;
}

.Admin .Title {
  text-shadow: 0 0 0.15em #1d69cc;
  animation: admin-neon 3s linear infinite;

}